<p>
    <label class="w3-text-blue">
        <b>第一句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="戴帽子的首先进里边去">
</p>

<p>
    <label class="w3-text-blue">
        <b>第二句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="开始拿剪刀出来 拿那个手机">
</p>

<p>
    <label class="w3-text-blue">
        <b>第三句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="手机上有电筒 用手机照射">
</p>

<p>
    <label class="w3-text-blue">
        <b>第四句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="寻找那个比较新的电动车">
</p>

<p>
    <label class="w3-text-blue">
        <b>第五句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="六月六号 两名男子再次出现">
</p>

<p>
    <label class="w3-text-blue">
        <b>第六句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="民警立即将两人抓获">
</p>

<div id="result"></div>

<p>
    <button id="submit_btn" class="w3-btn w3-blue">生成</button>
</p>