<p>
    <label class="w3-text-blue">
        <b>第一句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="没有钱啊 肯定要做的啊">
</p>

<p>
    <label class="w3-text-blue">
        <b>第二句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="不做的话没有钱用">
</p>

<p>
    <label class="w3-text-blue">
        <b>第三句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="那你不会去打工啊">
</p>

<p>
    <label class="w3-text-blue">
        <b>第四句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="有手有脚的">
</p>

<p>
    <label class="w3-text-blue">
        <b>第五句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="打工是不可能打工的">
</p>

<p>
    <label class="w3-text-blue">
        <b>第六句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="这辈子不可能打工的">
</p>

<div id="result"></div>

<p>
    <button id="submit_btn" class="w3-btn w3-blue">生成</button>
</p>