<p>
    <label class="w3-text-blue">
        <b>第一句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="金坷垃好处都有啥">
</p>

<p>
    <label class="w3-text-blue">
        <b>第二句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="谁说对了就给他">
</p>

<div id="result"></div>

<p>
    <button id="submit_btn" class="w3-btn w3-blue">生成</button>
</p>