<p>
    <label class="w3-text-blue">
        <b>第一句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="好啊">
</p>

<p>
    <label class="w3-text-blue">
        <b>第二句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="就算你是一流工程师">
</p>

<p>
    <label class="w3-text-blue">
        <b>第三句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="就算你出报告再完美">
</p>

<p>
    <label class="w3-text-blue">
        <b>第四句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="我叫你改报告你就要改">
</p>

<p>
    <label class="w3-text-blue">
        <b>第五句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="毕竟我是客户">
</p>

<p>
    <label class="w3-text-blue">
        <b>第六句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="客户了不起啊">
</p>

<p>
    <label class="w3-text-blue">
        <b>第七句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="sorry 客户真的了不起">
</p>

<p>
    <label class="w3-text-blue">
        <b>第八句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="以后叫他天天改报告">
</p>

<p>
    <label class="w3-text-blue">
        <b>第九句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="天天改 天天改">
</p>

<input id="wechat-checkbox" class="w3-check" type="checkbox">
<label>微信兼容小尺寸</label>

<div id="result"></div>

<p>
    <button id="submit_btn" class="w3-btn w3-blue">生成</button>
</p>