<p>
    <label class="w3-text-blue">
        <b>第一句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="我就是饿死">
</p>

<p>
    <label class="w3-text-blue">
        <b>第二句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="死外边 从这跳下去">
</p>

<p>
    <label class="w3-text-blue">
        <b>第三句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="也不会吃你们一点东西">
</p>

<p>
    <label class="w3-text-blue">
        <b>第四句</b>
    </label>
    <input class="w3-input w3-border" name="first" type="text" placeholder="真香">
</p>

<div id="result"></div>

<p>
    <button id="submit_btn" class="w3-btn w3-blue">生成</button>
</p>